version: '3'

services:
  app:
    image: nasomedia-main-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    env_file:
      - .env
    volumes:
      - .:/app:cached
    depends_on:
      - db
    command: >
      bash -c "/app/prestart.sh 
      && uvicorn app.main:app --host 0.0.0.0 --port 80"
    deploy:
      replicas: 2

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  postgres-data:
